@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/StyleSheet.css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-4">Use the links above to draw cards!</h1>

    <img src="https://i.etsystatic.com/10369540/r/il/c8be71/695773206/il_1140xN.695773206_6ssn.jpg" alt="hoc" class="center">

</div>
